# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: Identity and Access Management API
    version: v1alpha1
servers:
    - url: https://iam.animeapis.com
paths:
    /v1alpha1/permissions:
        get:
            tags:
                - IAM
            operationId: IAM_ListPermissions
            parameters:
                - name: pageSize
                  in: query
                  description: If unspecified, server will pick an appropriate default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The value returned from the previous call.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: A filter to be applied to results.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ListPermissionsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/permissions/{permission}:
        get:
            tags:
                - IAM
            operationId: IAM_GetPermission
            parameters:
                - name: permission
                  in: path
                  description: The permission id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Permission'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        post:
            tags:
                - IAM
            operationId: IAM_CreatePermission
            parameters:
                - name: permission
                  in: path
                  description: The permission id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.CreatePermissionRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Permission'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        delete:
            tags:
                - IAM
            operationId: IAM_DeletePermission
            parameters:
                - name: permission
                  in: path
                  description: The permission id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        patch:
            tags:
                - IAM
            operationId: IAM_UpdatePermission
            parameters:
                - name: permission
                  in: path
                  description: The permission id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.UpdatePermissionRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Permission'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/roles:
        get:
            tags:
                - IAM
            operationId: IAM_ListRoles
            parameters:
                - name: pageSize
                  in: query
                  description: If unspecified, server will pick an appropriate default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The value returned from the previous call.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: A filter to be applied to results.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ListRolesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/roles/{role}:
        get:
            tags:
                - IAM
            operationId: IAM_GetRole
            parameters:
                - name: role
                  in: path
                  description: The role id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Role'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        post:
            tags:
                - IAM
            operationId: IAM_CreateRole
            parameters:
                - name: role
                  in: path
                  description: The role id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.CreateRoleRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Role'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        delete:
            tags:
                - IAM
            operationId: IAM_DeleteRole
            parameters:
                - name: role
                  in: path
                  description: The role id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        patch:
            tags:
                - IAM
            operationId: IAM_UpdateRole
            parameters:
                - name: role
                  in: path
                  description: The role id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.UpdateRoleRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Role'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/users/{user}/serviceAccounts:
        get:
            tags:
                - IAM
            operationId: IAM_ListServiceAccounts
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: If unspecified, server will pick an appropriate default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The value returned from the previous call.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: A filter to be applied to results.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ListServiceAccountsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/users/{user}/serviceAccounts/{serviceAccount}:
        get:
            tags:
                - IAM
            operationId: IAM_GetServiceAccount
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
                - name: serviceAccount
                  in: path
                  description: The serviceAccount id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ServiceAccount'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        post:
            tags:
                - IAM
            operationId: IAM_CreateServiceAccount
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
                - name: serviceAccount
                  in: path
                  description: The serviceAccount id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.CreateServiceAccountRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ServiceAccount'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        delete:
            tags:
                - IAM
            operationId: IAM_DeleteServiceAccount
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
                - name: serviceAccount
                  in: path
                  description: The serviceAccount id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        patch:
            tags:
                - IAM
            operationId: IAM_UpdateServiceAccount
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
                - name: serviceAccount
                  in: path
                  description: The serviceAccount id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.UpdateServiceAccountRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ServiceAccount'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
components:
    schemas:
        animeshon.iam.admin.v1alpha1.CreatePermissionRequest:
            required:
                - permission
            type: object
            properties:
                permission:
                    $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Permission'
        animeshon.iam.admin.v1alpha1.CreateRoleRequest:
            required:
                - role
            type: object
            properties:
                role:
                    $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Role'
        animeshon.iam.admin.v1alpha1.CreateServiceAccountRequest:
            required:
                - serviceAccount
            type: object
            properties:
                serviceAccount:
                    $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ServiceAccount'
        animeshon.iam.admin.v1alpha1.ListPermissionsResponse:
            type: object
            properties:
                permissions:
                    type: array
                    items:
                        $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Permission'
                    description: The list of permissions.
                nextPageToken:
                    type: string
                    description: A token to retrieve next page of results.
        animeshon.iam.admin.v1alpha1.ListRolesResponse:
            type: object
            properties:
                roles:
                    type: array
                    items:
                        $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Role'
                    description: The list of roles.
                nextPageToken:
                    type: string
                    description: A token to retrieve next page of results.
        animeshon.iam.admin.v1alpha1.ListServiceAccountsResponse:
            type: object
            properties:
                serviceAccounts:
                    type: array
                    items:
                        $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ServiceAccount'
                    description: The list of service accounts.
                nextPageToken:
                    type: string
                    description: A token to retrieve next page of results.
        animeshon.iam.admin.v1alpha1.Permission:
            type: object
            properties:
                name:
                    type: string
                    description: The name of this permission.
                displayName:
                    type: string
                    description: The display name of this permission.
                description:
                    type: string
                    description: A brief description of what this permission is used for.
        animeshon.iam.admin.v1alpha1.Role:
            type: object
            properties:
                name:
                    type: string
                    description: The name of the role.
                displayName:
                    type: string
                    description: The display name of this role.
                description:
                    type: string
                    description: A brief description of what this role is used for.
                includedPermissions:
                    type: array
                    items:
                        type: string
                    description: The names of the permissions this role grants when bound in an IAM policy.
                etag:
                    type: string
                    description: Used to perform a consistent read-modify-write.
                    format: bytes
        animeshon.iam.admin.v1alpha1.ServiceAccount:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: The name of the service account.
                uid:
                    readOnly: true
                    type: string
                    description: The unique, stable numeric ID for the service account.
                displayName:
                    type: string
                    description: The display name of this service account.
                description:
                    type: string
                    description: A brief description of what this service account is used for.
                oauth2ClientId:
                    readOnly: true
                    type: string
                    description: OAuth2 client ID to use for the authentication flow.
                oauth2ClientSecret:
                    readOnly: true
                    type: string
                    description: OAuth2 client secret to use for the authentication flow.
        animeshon.iam.admin.v1alpha1.UpdatePermissionRequest:
            required:
                - permission
            type: object
            properties:
                permission:
                    $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Permission'
                updateMask:
                    type: string
                    description: The field mask to determine which fields are to be updated. If empty, the server will assume all fields are to be updated.
                    format: field-mask
        animeshon.iam.admin.v1alpha1.UpdateRoleRequest:
            required:
                - role
            type: object
            properties:
                role:
                    $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.Role'
                updateMask:
                    type: string
                    description: The field mask to determine which fields are to be updated. If empty, the server will assume all fields are to be updated.
                    format: field-mask
        animeshon.iam.admin.v1alpha1.UpdateServiceAccountRequest:
            required:
                - serviceAccount
            type: object
            properties:
                serviceAccount:
                    $ref: '#/components/schemas/animeshon.iam.admin.v1alpha1.ServiceAccount'
                updateMask:
                    type: string
                    description: The field mask to determine which fields are to be updated. If empty, the server will assume all fields are to be updated.
                    format: field-mask
        google.protobuf.Any:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        google.rpc.Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/google.protobuf.Any'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
    securitySchemes:
        OAuth2:
            type: oauth2
            flows:
                clientCredentials:
                    tokenUrl: https://accounts.animeshon.com/o/oauth2/token
                    scopes: {}
                authorizationCode:
                    authorizationUrl: https://accounts.animeshon.com/o/oauth2/auth
                    tokenUrl: https://accounts.animeshon.com/o/oauth2/token
                    scopes:
                        https://www.animeapis.com/auth/iam: View and manage roles, permissions, and service accounts.
tags:
    - name: IAM
