# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: animeshon.hub
    version: v1alpha1
servers:
    - url: https://hub.animeapis.com
paths:
    /v1alpha1/*/{*}/git-receive-pack:
        post:
            tags:
                - Git
            operationId: Git_ReceivePack
            parameters:
                - name: '*'
                  in: path
                  description: The * id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: string
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        '*/*': {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/*/{*}/git-upload-pack:
        post:
            tags:
                - Git
            operationId: Git_UploadPack
            parameters:
                - name: '*'
                  in: path
                  description: The * id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: string
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        '*/*': {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/*/{*}/info/refs:
        get:
            tags:
                - Git
            operationId: Git_AdvertiseReferences
            parameters:
                - name: '*'
                  in: path
                  description: The * id.
                  required: true
                  schema:
                    type: string
                - name: service
                  in: query
                  description: The git service according to the git protocol.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        '*/*': {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/namespaces/{namespace}/repositories:
        get:
            tags:
                - Hub
            operationId: Hub_ListRepositories
            parameters:
                - name: namespace
                  in: path
                  description: The namespace id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: If unspecified, server will pick an appropriate default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The value returned from the previous call.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.hub.v1alpha1.ListRepositoriesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/namespaces/{namespace}/repositories/{repository}:
        post:
            tags:
                - Hub
            operationId: Hub_CreateRepository
            parameters:
                - name: namespace
                  in: path
                  description: The namespace id.
                  required: true
                  schema:
                    type: string
                - name: repository
                  in: path
                  description: The repository id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.hub.v1alpha1.CreateRepositoryRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.hub.v1alpha1.Repository'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        delete:
            tags:
                - Hub
            operationId: Hub_DeleteRepository
            parameters:
                - name: namespace
                  in: path
                  description: The namespace id.
                  required: true
                  schema:
                    type: string
                - name: repository
                  in: path
                  description: The repository id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
components:
    schemas:
        animeshon.hub.v1alpha1.CreateRepositoryRequest:
            type: object
            properties:
                name:
                    type: string
                    description: The resource name of the repository to be created.
        animeshon.hub.v1alpha1.ListRepositoriesResponse:
            type: object
            properties:
                repositories:
                    type: array
                    items:
                        $ref: '#/components/schemas/animeshon.hub.v1alpha1.Repository'
                    description: The list of repositories.
                nextPageToken:
                    type: string
                    description: A token to retrieve next page of results.
        animeshon.hub.v1alpha1.Repository:
            type: object
            properties:
                name:
                    type: string
                    description: The repository resource name.
        google.protobuf.Any:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        google.rpc.Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/google.protobuf.Any'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
tags:
    - name: Git
    - name: Hub
