# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: animeshon.resourcemanager
    version: v1alpha1
servers:
    - url: https://resourcemanager.animeapis.com
paths:
    /v1alpha1/organizations:
        get:
            tags:
                - ResourceManager
            operationId: ResourceManager_ListOrganizations
            parameters:
                - name: pageSize
                  in: query
                  description: If unspecified, server will pick an appropriate default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The value returned from the previous call.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: A filter to be applied to results.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.ListOrganizationsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        post:
            tags:
                - ResourceManager
            operationId: ResourceManager_CreateOrganization
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.CreateOrganizationRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Organization'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/organizations/{organization}:
        get:
            tags:
                - ResourceManager
            operationId: ResourceManager_GetOrganization
            parameters:
                - name: organization
                  in: path
                  description: The organization id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Organization'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        delete:
            tags:
                - ResourceManager
            operationId: ResourceManager_DeleteOrganization
            parameters:
                - name: organization
                  in: path
                  description: The organization id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        patch:
            tags:
                - ResourceManager
            operationId: ResourceManager_UpdateOrganization
            parameters:
                - name: organization
                  in: path
                  description: The organization id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.UpdateOrganizationRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Organization'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/teams:
        get:
            tags:
                - ResourceManager
            operationId: ResourceManager_ListTeams
            parameters:
                - name: pageSize
                  in: query
                  description: If unspecified, server will pick an appropriate default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: The value returned from the previous call.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: A filter to be applied to results.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.ListTeamsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        post:
            tags:
                - ResourceManager
            operationId: ResourceManager_CreateTeam
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.CreateTeamRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Team'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
    /v1alpha1/teams/{team}:
        get:
            tags:
                - ResourceManager
            operationId: ResourceManager_GetTeam
            parameters:
                - name: team
                  in: path
                  description: The team id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Team'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        delete:
            tags:
                - ResourceManager
            operationId: ResourceManager_DeleteTeam
            parameters:
                - name: team
                  in: path
                  description: The team id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
        patch:
            tags:
                - ResourceManager
            operationId: ResourceManager_UpdateTeam
            parameters:
                - name: team
                  in: path
                  description: The team id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.UpdateTeamRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Team'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/google.rpc.Status'
components:
    schemas:
        animeshon.resourcemanager.v1alpha1.CreateOrganizationRequest:
            required:
                - organization
            type: object
            properties:
                organization:
                    $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Organization'
        animeshon.resourcemanager.v1alpha1.CreateTeamRequest:
            required:
                - team
            type: object
            properties:
                team:
                    $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Team'
        animeshon.resourcemanager.v1alpha1.ListOrganizationsResponse:
            type: object
            properties:
                organizations:
                    type: array
                    items:
                        $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Organization'
                    description: The list of organizations.
                nextPageToken:
                    type: string
                    description: A token to retrieve next page of results.
        animeshon.resourcemanager.v1alpha1.ListTeamsResponse:
            type: object
            properties:
                teams:
                    type: array
                    items:
                        $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Team'
                    description: The list of teams.
                nextPageToken:
                    type: string
                    description: A token to retrieve next page of results.
        animeshon.resourcemanager.v1alpha1.Organization:
            type: object
            properties:
                name:
                    type: string
        animeshon.resourcemanager.v1alpha1.Team:
            type: object
            properties:
                name:
                    type: string
        animeshon.resourcemanager.v1alpha1.UpdateOrganizationRequest:
            required:
                - organization
            type: object
            properties:
                organization:
                    $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Organization'
                updateMask:
                    type: string
                    description: The field mask to determine which fields are to be updated. If empty, the server will assume all fields are to be updated.
                    format: field-mask
        animeshon.resourcemanager.v1alpha1.UpdateTeamRequest:
            required:
                - team
            type: object
            properties:
                team:
                    $ref: '#/components/schemas/animeshon.resourcemanager.v1alpha1.Team'
                updateMask:
                    type: string
                    description: The field mask to determine which fields are to be updated. If empty, the server will assume all fields are to be updated.
                    format: field-mask
        google.protobuf.Any:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        google.rpc.Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/google.protobuf.Any'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
tags:
    - name: ResourceManager
